
    /* part of  the website code*/
header{
    background-color: #fff;
	width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 20vw;
} 


footer{
    background-color: #333333;
    padding-top: 2%;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    padding-bottom: 2vw;
}

p{
    margin-top: 0px;
    padding-top: 0px;
}

/* text styles */
@font-face {
    font-family: sans-serif;
    font-style: normal;
    src: local(''), 
        url(../fonts/SourceSans3-VariableFont_wght.ttf) format(ttf);
}

.footer-last{
    font-family: 'Source Sans 3',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
}

.header-text-main{
    color: #333333;
    font-family: 'Source Sans 3',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
}

.middle-main-title{
    color: #333333;
    font-family: 'Source Sans 3',sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
}


.header-text-link{
    color: #607CE6;
    font-family: 'Source Sans 3',sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28.48px;

}

.header-main-text{
    color: #333333;
    font-family: 'Source Sans 3',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.header-main-text-white{
    color: white;
    font-family: 'Source Sans 3',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.main-main-text{
    color: #333333;
    font-family: 'Source Sans 3',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.header-telephone-text{
    color: #607CE6;
    font-family: 'Source Sans 3',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    text-transform: uppercase;
}

.secondary-title{
    font-family: 'Source Sans 3',sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
    color: #333333;
}

.product-name-text{
    font-family: 'Source Sans 3',sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    color: #333333;
}

.product-more{
    font-family: 'Source Sans 3',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #607CE6;
}

.news-text-desc{
    font-family: 'Source Sans 3',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}

.news-date-text{
    font-family: 'Source Sans 3',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #888888;
}

.news-more-text{
    font-family: 'Source Sans 3',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #607CE6;

}
/* flex containers */

.line-menu-prod {
    display: flex;
    align-content: center;
    align-items: end; 
    margin-bottom: 1vw;
    margin-top: 1%;
}

.line-menu-newsa {
    display: flex;
    align-content: center;
    align-items: end; 
    margin-top: -2vw;
}


.line-menu-header{
    display: flex;
    align-content: space-between;
}

.line-menu-header-img{
    display: flex;
    align-content: space-between;
}

.line-menu-header-text{
    display: flex;
    align-content: space-between;
}

.line-menu-header-zavod{
    display: flex;
    align-content: space-between;
}


.container-new{
    max-width: 100vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.container-footer-things{
    max-width: 45vw;
}


.small-title-one{
    max-height: 1vw;
    width: 100%;
    height: 100%;
    margin-bottom: 5vw;
}

.container-middle-two{
    max-width: 100vw;
    max-height: 45vw;
    height: 100%;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-left: 5vw;
    padding-right: 5%;
    padding-top: 2vw;
    padding-bottom: 2vw;
}


.container-middle-text{
    max-width: 50vw;
    max-height: 15vw;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-right: 5%;
}

.container-middle-text-less{
    max-width: 50vw;
    max-height: 10vw;
    height: 100%;
    margin-right: 43vw;
    margin-top: 1vw;
}

.container-middle-img{
    max-width: 50vw;
    max-height: 30vw;
    width: 100%;
    height: 100%;
    padding-right: 2vw;
    margin: 0px;
}

.line-menu{
    display: grid;
    grid-template-columns: repeat(3,26vw);
}

.line-menu-footer{
    display: grid;
    grid-template-columns: repeat(3,26vw);
    column-gap: 2vw;
}

.container-one-main{
    max-width: 100vw;
    max-height: 70vw;
    width: 100%;
    height: 100%;
    margin: 2vw 3vw;
    padding: 0 2vw;

}

.container-middle{
    max-width: 100vw;
    max-height: 15vw;
    width: 100%;
    height: 100%;
    margin-top: 3vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.container-zavod{
    max-width: 45vw;
    max-height: 15vw;
    margin: 0px;
    padding: 0px;
}

.container-zavod-desc{
    max-width: 50vw;
    max-height: 15vw;
    height: 100%;
    padding-right: 20vw;
    margin-top: 3vw;
    margin-left: 5vw;
}

.container-prod{
    max-width: 100vw;
    max-height: 100vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.container-product{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: #F5F5F5;
    margin-right: 2vw;
}

.container-product-img{
    max-width: 60%;
    max-height: 60%;
    margin-bottom: 30%;
    margin-right: 30%;
    padding-top: 10%;   
}

.container-map{
    max-width: 1180px;
    max-height: 805px;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.container-news{
    max-width: 1180px;
    max-height: 568px;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.map-container{
    max-width: 1180px;
    max-height: 710px;
    width: 100%;
    height: 100%;
    margin-top: 2%;
}

.news-img-class{
    max-width: 380px;
    max-height: 210px;
    width: 100%;
    height: 100%;
    margin-right: 2%;
}

.container-news-textbox{
    max-width: 380px;
    max-height: 227px;
    margin-top: -1%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #F5F5F5;
}

.news-more-box{
    max-width: 348px;
    max-height: 84px;
}

.news-links-box{
    max-width: 348px;
    max-height: 22px;
    padding-right: 6%;
    margin-top: 5vw;
    padding-bottom: 1vw;
}

.header-main-text-margin{
    margin-right: 1%;
}


.footer-menu-container{
    max-width: 155px;
    margin-right: 10%;
}
/* link settings */


/* other styles */

.header-p1{

    padding-left: 40%;
}

.header-margin{
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
}

.header-other{
    display: flex;
    flex-wrap: wrap;
}

.line1{
    width: 100%;
    height: 1px;
    border-top: 1px solid #888888;
    margin-top: 2%;
    margin-bottom: 2%;
}


.margin-top-five-add{
    margin-top: 5%;
}

.margin-a-lot-add{
    margin-top: 25%;
}

.padding-top-two-add{
    padding-top: 30%;
}


.main-second-line-fix{
    padding-left: 5%;
    margin-left: 7%;
}

.fix{
    margin-left: 2%;
}

.color-white{
    color:#fff;
}

.margin-top-two-add{
    margin-top: 2%;
}

.footer-p1{
    padding-left: 30%;
}

.pioneer-box{
    height: 5vw;
    width: 7vw;
}

@media  (max-width: 990px){

    .container-new{
        max-width: 100vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .line-menu-header-text{
        display: none;
    }
    .header-p1{
        display: none;
    }
    
    .container-middle{
        max-width: 100vw;
        max-height: 40vw;
        margin-top: 15vw;
        margin-bottom: 15vw;
        margin-left: 5vw;
        margin-right: 5vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .line1{
        width: 100vw;
        height: 1px;
        border-top: 1px solid #888888;
        margin-top: 2vw;
        margin-left: 0px;
        padding-left: 0px;
    }
    .header-two-things{
        padding-top: 15vw;
        display: flex;
        align-content: space-between;
    }

    .header-margin{
        margin-right: 2%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 7vw;
    }

    .header-other{
        display: flex;
        flex-wrap: wrap;
        padding-top: 7vw;
    }

    .middle-main-title{
        color: #333333;
        font-family: 'Source Sans 3',sans-serif;
        font-size: 25px;
        font-weight: 700;
        text-align: left;
        line-height: 30px;
    }

    .header-main-text{
        color: #333333;
        font-family: 'Source Sans 3',sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
    }

    .container-zavod-desc{
        max-width: 50vw;
        max-height: 15vw;
        padding-right: 20vw;
        margin-left: 5vw;
        padding-bottom: 3vw;
        margin-top: 0vw;
    }

    .secondary-title{
        font-family: 'Source Sans 3',sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 26px;
        text-align: left;
        color: #333333;
    }
    
    .small-title-one{
        max-height: 1vw;
        width: 100%;
        height: 100%;
        margin-bottom: 10vw;
    }

    .container-middle-text-less{
        max-width: 50vw;
        max-height: 10vw;
        height: 100%;
        margin-right: 43vw;
        margin-top: 5vw;
        margin-bottom:10vw;
        padding-bottom: 10vw;

    }

    .container-middle-two{
        max-width: 100vw;
        max-height: 80vw;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 2vw;
        margin-bottom: 20vw;
        padding-left: 5vw;
        padding-right: 5%;
        padding-top: 2vw;
        padding-bottom: 20vw;
    }

    .container-middle-text{
        max-width: 50vw;
        max-height: 20vw;
        margin-bottom: 25vw;
        padding-right: 5%;
    }

    .main-main-text{
        color: #333333;
        font-family: 'Source Sans 3',sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
    }

    .product-name-text{
        font-family: 'Source Sans 3',sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 16px;
        text-align: left;
        color: #333333;
    }

    .product-more{
        font-family: 'Source Sans 3',sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        color: #607CE6;
    }

    .news-text-desc{
        font-family: 'Source Sans 3',sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        text-align: left;  
    }

    .news-more-text{
        font-family: 'Source Sans 3',sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 11px;
        text-align: left;
        color: #607CE6;  
    }

    .news-date-text{
        font-family: 'Source Sans 3',sans-serif;
        font-size: 8px;
        font-weight: 400;
        line-height: 10px;
        text-align: left;
        color: #888888;
    }

    .news-img-class{
        max-width: 380px;
        max-height: 210px;
        width: 100%;
        height: 100%;
        margin-right: 10vw;
    }

    .header-main-text-white{
        color: white;
        font-family: 'Source Sans 3',sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }

    .footer-menu-container{
        max-width: 155px;
        margin-top: 15vw;
    }

    .footer-p1{
        display: none;
    }

    .container-footer-things{
        max-width: 45vw;
        margin-left: -40vw;
    }
}